openapi: 3.0.0
info:
  description: Gives items pricing dynamically
  title: DynamicPricing
  version: v1
servers:
- url: https://api.visionet.com
paths:
  /dynamicPricing:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicPricingResponse'
          description: Successful response
      security:
      - ApiKeyAuth: []
      summary: Gets the price details
components:
  schemas:
    DiscountRequest:
      example:
        Discount:
          sellingPrice: 0.8008281904610115
          Product: Product
          Margin: 6.027456183070403
      properties:
        Discount:
          $ref: '#/components/schemas/DiscountRequest_Discount'
      required:
      - Discount
      title: DiscountRequest
      type: object
    DynamicPricingResponse:
      example:
        Result:
          Reasoning: Reasoning
          SuggestedPrice: 0.8008281904610115
      properties:
        Result:
          $ref: '#/components/schemas/DynamicPricingResponse_Result'
      required:
      - Result
      title: DynamicPricingResponse
      type: object
    DiscountRequest_Discount:
      example:
        sellingPrice: 0.8008281904610115
        Product: Product
        Margin: 6.027456183070403
      properties:
        sellingPrice:
          title: sellingPrice
          type: number
        Margin:
          title: Margin
          type: number
        Product:
          title: Product
          type: string
      required:
      - Margin
      - Product
      - sellingPrice
      title: DiscountRequest_Discount
      type: object
    DynamicPricingResponse_Result:
      example:
        Reasoning: Reasoning
        SuggestedPrice: 0.8008281904610115
      properties:
        SuggestedPrice:
          title: SuggestedPrice
          type: number
        Reasoning:
          title: Reasoning
          type: string
      required:
      - Reasoning
      - SuggestedPrice
      title: DynamicPricingResponse_Result
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
