openapi: 3.0.0
info:
  description: Gives items pricing dynamically
  title: DynamicPricing
  version: v1
servers:
- url: https://api.visionet.com
security:
- ApiKeyAuth: []
paths:
  /dynamicPricing:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_dynamicPricing_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dynamicPricing_post_200_response'
          description: Successfully calculated dynamic prices
      summary: Gets the price details
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    _dynamicPricing_post_200_response:
      example:
        Result:
          Reasoning: Reasoning
          SuggestedPrice: 0.8008281904610115
      properties:
        Result:
          $ref: '#/components/schemas/_dynamicPricing_post_200_response_Result'
      type: object
    _dynamicPricing_post_request:
      properties:
        sellingPrice:
          description: Selling price of the item
          type: number
        Margin:
          description: Margin percentage
          type: number
        Product:
          description: Name of the product
          type: string
      required:
      - Margin
      - Product
      - sellingPrice
      type: object
    _dynamicPricing_post_200_response_Result:
      example:
        Reasoning: Reasoning
        SuggestedPrice: 0.8008281904610115
      properties:
        SuggestedPrice:
          description: Suggested price for the item
          type: number
        Reasoning:
          description: Explanation for the suggested price calculation
          type: string
      required:
      - Reasoning
      - SuggestedPrice
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
