openapi: 3.0.0
info:
  description: Gives items pricing dynamically.
  title: DynamicPricing
  version: v1
servers:
- url: https://api.visionet.com
security:
- ApiKeyAuth: []
paths:
  /dynamicPricing:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_dynamicPricing_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_dynamicPricing_post_200_response'
          description: "Successful response, returns a suggested price and reasoning."
      summary: Gets competitive price details.
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    _dynamicPricing_post_200_response:
      example:
        Result:
          Reasoning: Reasoning
          SuggestedPrice: 0.8008281904610115
      properties:
        Result:
          $ref: '#/components/schemas/_dynamicPricing_post_200_response_Result'
      type: object
    _dynamicPricing_post_request:
      properties:
        Discount:
          $ref: '#/components/schemas/_dynamicPricing_post_request_Discount'
      type: object
    _dynamicPricing_post_200_response_Result:
      example:
        Reasoning: Reasoning
        SuggestedPrice: 0.8008281904610115
      properties:
        SuggestedPrice:
          type: number
        Reasoning:
          type: string
      type: object
    _dynamicPricing_post_request_Discount:
      properties:
        sellingPrice:
          type: number
        Margin:
          type: number
        Product:
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
